*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-family: 'Delicious Handrawn', cursive;
  color: white;
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.page {
  min-height: 100vh;
  display: grid;
  justify-items: center;
  grid-template-areas: 'header header header'
                       'controls container container'
                       'footer footer footer';
  gap: 1rem;
}

header {
  grid-area: header;
  font-size: 2rem;
  margin: 1rem 0;
}

.controls {
  grid-area: controls;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
  justify-self: end;
}

footer {
  grid-area: footer;
  align-self: center;
}

button {
  background-color: rgba(240, 248, 255, 0.555);
  border: none;
  border-radius: 15px;
  height: 2rem;
  width: 100%;
  cursor: pointer;
}

button:hover {
  background-color: #0F2027;
}

#range-selector {
  -webkit-appearance: none;
  background-color: rgba(240, 248, 255, 0.555);
  height: 0.3rem;
  border-radius: 15px;  
  margin: 0.5rem 0;
  width: 100%;
}
#range-selector::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: white;
  height: 1rem;
  aspect-ratio: 1;
  border-radius: 50%;
  cursor: ew-resize;
}

#custom-color {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#custom-color::-webkit-color-swatch {
  border-radius: 15px;
  border: none;
}
#custom-color::-moz-color-swatch {
  border-radius: 15px;
  border: none;
}

.grid-selector, .color-mode {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.grid-container {
  border: 1px white solid;
  width: 700px;
  aspect-ratio: 1;
  grid-area: container;
  display: grid;
}


.grid-items {
  border: 1px solid rgba(255, 255, 255, 0.02) ;
}

.grid-items:hover{
  border: 1px solid rgba(240, 248, 255, 0.555);
}

.hover {
  background-color: rgba(240, 248, 255, 0.247);
}

.selector-p{
 margin: 0 auto 0 auto;
}