*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-family: 'Delicious Handrawn', cursive;
  color: white;
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.page {
  display: grid;
  grid-template-columns: 40vw calc(60vw - 19px);
  grid-template-rows: 5rem 1fr 5rem;
  justify-items: center;
}

.grid-container {
  border: 1px white solid;
  width: clamp(300px, 60vw, 80vh);
  height: clamp(300px, 60vw, 80vh);
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);;
}

.grid-selector, .color-mode {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  grid-row: 2;
}

.grid-items {
  border: 1px rgba(255, 255, 255, 0.048) solid;
}

.grid-items:hover{
  border: 1px solid rgba(240, 248, 255, 0.555);
}

.hover {
  background-color: rgba(240, 248, 255, 0.247);
}

.draw {
  background-color: rgba(133, 184, 228, 0.76);
}

.selector-p{
 margin: 0 auto 0 auto;
}